:root {
  --brand-color: #4d5ae5;
  --navy-blue: #2e2f42;
  --white-color: #FFFFFFFF;
  --drak-grey: #434455;
  --backround-white:#f4f4f4fd;
  --border-white:#e7e9fc;
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --ocean-blue: #404bbf;
  --footer-white: #F4F4FD;
  --navbar-backround: #E7E9FC; 
  --logo-border: #8E8F99;
}
*{
  box-sizing: border-box;
}
*{
  margin: 0;
}
.modal{
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
position: fixed;
z-index: 2;
top: 0;
left: 0;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden{
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-booking{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 408px;
  min-height: 584px;
  background-color: #FCFCFC;
  border-radius: 4px;
background: var(--DAIRY, #FCFCFC);
box-shadow: 0px 2px 1px 0px;
transform: translate(-50%, -50%) scale(1);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: backround-colour 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus{
  background-color: #404bbf;
  border: none;
}
.modal-button-svg{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-svg:hover,
.modal-button-svg:focus{
  fill: #FFFFFFFF;
}
.portfolio-div-transition {
  position: relative;
  overflow: hidden;
}
.portfolio-pf-transition {
  position: absolute;
  top: ;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-white);
  padding: 40px 32px;
  background-color: var(--brand-color);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link {
  width: calc((100%-48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.portfolio-link:hover .portfolio-pf-transition {
  transform: translateY(0%);
}
.portfolio-link:focus .portfolio-pf-transition {
  transform: translateY(0%);
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: var(--text-font-family);
  color: var(--drak-grey);
  background-color: var(--white-color);}
.container{
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}


.section-about-align{
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-about{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.section-about-list{
  flex-basis:calc((100% - 72px)/4);
  width: 100%;
  min-width: 264px;
}
.about-icons{
  display: flex;
  gap: 24px;
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: var(--footer-white);
  border-radius: 4px;
  margin-bottom: 8px;
}
.about-title{
  margin-bottom: 8px;
}
.section-what-are-they-doing{
  padding-bottom: 120px;
}
.section-what-are-they-doing-title{
  margin-bottom: 72px;
}
.hero-header{
  display: flex;
  justify-content: space-between;
  height: 72px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  max-width: 1440px;
}

/* logo */
.logo {
  font-family: var(--logo-font-family);
  color: var(--brand-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text decoration: none;
}
.logo-space{
  margin-right: 76px;
}
.logo-link{
  font-family: var(--logo-font-family);
  color: var(--brand-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text decoration: none;

}
.link-nav{
  text-decoration: none;

}
.link {
    text-decoration: none;
    display: block;
}
.link:hover,
.link:focus{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--ocean-blue);
}
/* nav section */
.navbar{
  display: flex;
  align-items: center;
}
.navbar-align{
  align-items: center;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.navbar-backround{
  background: var(--white-color);
  border-bottom: 1px solid #e7e9fc;
}
.navbar-link{
  padding-top: 24px;
  padding-bottom: 24px;
}
.hero-header-cta{
display: flex;
gap: 40px;
}
.hero-title{
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
  text-align: center;
}

.nav-link {
  color: var(--navy-blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
  border-color: var(--border-white);
}
.nav-link:hover, 
.nav-link:focus {
  color: var(--ocean-blue);}
.list {
  color: var(--navy-blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
  text-decoration: none;
}
/* address section */
.address-mail {
  color: var(--drak-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-style {
  font-style: normal;
}
.address:hover,
.address:focus {
  color: var(--white-color);
  background-color: var(--ocean-blue);
  
}
/*hero section */
.hero-content {
  background-image: linear-gradient(rgba(46, 47, 66, 0.70),
  rgba(46, 47, 66, 0.70)), url(../images/backround-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--white-color);
  padding-top: 188px;
  padding-bottom: 188px;
  flex-grow: 1;
  text-align: center;
  max-width: 1440px;
}
.hero-font {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.order-service-button {
  background-color: var(--brand-color);
  color: var(--white-color);
  border-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  cursor: pointer;
  font-family: var(--text-font-family);
  border-radius: 4px;
  padding: 16px 32px;
  align-content: center;
  }
  .service-button{
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
  }
  
.order-service-button:hover,
.order-service-button:focus {
    color: var(--white-color);
  background-color: var(--ocean-blue);
  border-color: rgba(0, 0, 0, 0);
}
.section-doing{
  display: flex;
  gap: 24px;
}
.scetion-doing-list{
  width: calc((100%-3*16px)/3);
}
.team-section{
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-our-team{
  display: flex;
  gap: 24px;
  width: 232px;
}

.section-our-team-title{
  margin-bottom: 72px;
}
.section-member{
 width: calc((100%-3*24px)/4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-team-div{
  padding-top: 32px;
  padding-bottom: 32px;
}
.our-team-title{
  text-align: center;
  margin-bottom: 8px;
  

}
.social-media-list{
  display: flex;
  gap:24px;
  fill: var(--footer-white);
  list-style: none;
  justify-content: center;

}
.social-media-lists{
  width: 264px;
  margin-top: 8px;
  padding-right: 16px;
  padding-left: 16px;
}
.social-media-decoration{
  width: 100%;
  height: 100%;
  background-color: var(--brand-color);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
}
.social-media-decoration:hover,
.social-media-decoration:focus{
  background-color: #404bbf;
}
.social-media-decoration-footer{
  width: 100%;
  height: 100%;
  background-color: var(--brand-color);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
}
.social-media-decoration-footer:hover,
.social-media-decoration-footer:focus{
  background-color: #31d0aa;
}
.social-media-icon{
  fill: var(--footer-white);
}
.section-member-descripton{
  text-align: center;

}
.logo-title{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue);

}
.logo-section{
  width: 1158px;
  background-color: var(--white-color);
  padding: 120px 0 120px;
}
.logo-section-list{
  display: flex;
  list-style: none;
  gap: 24px;
  padding: 0;
}
.logo-list{
  width: calc((100% - 120px)/6);
  height: 88px;
}
.logo-links{
  width: 100%;
  height: 100%;
  border: 1px solid var(--logo-border);
  border-radius: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--logo-border);
}
.logo-links:hover,
.logo-links:focus{
  border-color: var(--ocean-blue);
  color: var(--ocean-blue);
}
.logo-svg{
  fill: currentColor;
}
/* portfolio */
.section-portfolio{
padding-top: 96px; 
padding-bottom: 120px;
}
.filter-button-list {
  color: var(--brand-color);
  background-color: var(--footer-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: var(--text-font-family);
  list-style: none;
  border: none;
}
.filter-button-list:hover {
  color: var(--white-color);
  background-color: var(--ocean-blue);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  
}
.filter-button-list:focus {
  color: var(--white-color);
  background-color: var(--ocean-blue);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-buttons{
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
  padding: 0;
}
.filter-button{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px; 
  padding-right: 24px;
  border: 1px solid var(--navbar-backround);
  border-radius: 4px;
}
.project-cards{
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
padding: 0;
}
.card-content{
  flex-basis: calc((100% - 48px) / 3);
}
.card-div{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.card-title{
  margin-bottom: 8px;
}
/* title, subtitle, content */
.header {
  color: var(--navy-blue);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;}
.white-header {
color: var(--backround-white);
}
.white-backround-color-header {
  background-color: var(--footer-white);
}
.backround-white { 
  background-color: var(--white-color);
}
.image-b{
  display: block;
}
.subtitle {
  color: var(--navy-blue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.content {
  color: var(--drak-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  letter-spacing: 0.32px;
}
.footer {
    background-color: var(--navy-blue);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-paragraph {
  color: var(--footer-white);
  font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
max-width: 264px;
}
.footer-logo{
  margin-bottom: 17.5px;

}
.footer-link{
  display: inline-block;
  margin-bottom: 16px;
}
.footer-social-media{
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px
}
.footer-social-media-lists{
  gap: 16px;
  
}
.footer-div{
  display: flex;
  align-items: baseline;
}
.footer-div-second{
  
}
.footer-div-first{
  margin-right: 120px;
}
.icon-border{
  width: 40px; 
  height: 40px;
}



